*{
    margin: 0;
    padding: 0;
}
body{
    100vh
}
nav{
   
    display: flex;
    /* background-color: black; */
}
.logo img{
    width: 4rem;
    display: flex;
    align-items: center;
    border: solid white ;
    border-radius: 100px;
    margin-left: 20px;
    align-items: center;
}
.nav-list{
    width: 50%;
    /* background-color: black; */
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-list li{
    color: white;
    padding: 26px 30px; 
    /* margin-left: 20%; */
    left: 50%;
}
.nav-list li a:hover{
    color: red;
}

.nav-list li a{
    color: white;
    text-decoration: none;
}
.rightnav{
    margin-right: 20px;
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 12px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../images/work2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.text-big{
    color: white;
}
.text-small{
    color: white;
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    height: 80%;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}
.firsthalf{
    font-size: larger;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}
.secondhalf{

    font-size: x-large;
    width: 150%;
}
.secondhalf img{
  margin-left: 40%;
  border: 5px solid black;
}
.btn{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
.btn:hover{
    color: white;
    background-color: #282A3A;
}
.web-header{
    text-align: center;
}
.skill{
    justify-content: center;
    display: flex;
    margin-top: 60px;
    background-color: #0D4C92;
}
h1{
    font-family: 'Anton', sans-serif;
    
    margin-top: 40px;
}
.skill img{
    padding: 50px;
    width:100px;
    height: 100px;
}
.info{
    font-size: large;
    justify-content: center;
    text-align: center;
    font-weight: 200s;
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
}
.skill img:hover{
    background-color: #D5EEFF;
}
.middle-containner{
    background-color: #0D4C92;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-containner img{
    width:100px;
    padding: 40px;
    height: 100px;
}
.middle-containner img:hover{
    background-color: #D5EEFF;

}
.web-header2{

    margin-bottom: 40px;
    text-align: center;
}
.web-header3{
    margin-bottom: 40px;
    text-align: center;
}
.middle-containner2{
background-color: #0D4C92;
display: flex;
align-items: center;
justify-content: center;
}
.middle-containner2 img{
    width:100px;
    padding: 40px;
    height: 100px;
}
.middle-containner2 img:hover{
    background-color: #D5EEFF;
}
.web-header4{
    margin-bottom: 40px;
    text-align: center;
}
.middle-containner3 img{
    width:100px;
    padding: 40px;
    height: 100px;
}
.middle-containner3{
    background-color: #0D4C92;
    text-align: center; 
}
.middle-containner3 img:hover{
    background-color: #D5EEFF;
}
footer{
    background-color: #0096FF;
    height: 200px;
    width: 100%;
}
.icon{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}
.icon img{
    margin-top: 50px;
    padding: 40px;
    width: 40px;
    height: 40px;
}
.copyright{
    text-align: center;
}
