*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
    font-family: sans-serif;
}
.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    margin-left: 35rem;
    transform: translate(-0%,-50%);
    position: absolute;
}
form{
    margin: 35px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
.btn{
  border-radius: 20px;  
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  width: 110px;
  margin-left: 10px;
  text-decoration: none;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.btn:hover{
    background-color: #777;
}
.back-img{
    height:100%;
    width: 100%;
}
